name: Build

on:
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      name: Checkout Code

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.21.8

    - name: Prepare Env
      run: bash scripts/prepare_environ.sh

    - name: Test
      working-directory: /home/runner/go/src/github.com/hyperledger-labs/SmartBFT
      run:  make all

    - name: Post
      working-directory: /home/runner/go/src/github.com/hyperledger-labs/SmartBFT
      run: ./scripts/post.sh
